Repository tahminarasoli/javascript-30-g5, pull requests merged in 2020-12, with the labels that each got.

#2 html and css added to home-page
  index.html
  public/css/all.css
  public/css/flexboxgrid.css
  public/css/fontawesome.css
  public/css/style.css
  src/logic/reverse.report.txt
Labels: enhancement

#15 Planning
  Stripe-Follow-Along-Nav/src/handlers/README.md
  Stripe-Follow-Along-Nav/src/handlers/enter.js
  Stripe-Follow-Along-Nav/src/handlers/leave.js
  Stripe-Follow-Along-Nav/src/listeners/README.md
  Stripe-Follow-Along-Nav/src/listeners/enter-lis.js
  Stripe-Follow-Along-Nav/src/listeners/leave-lis.js
Labels: Stripe Follow Along Nav, docs

#13 Listeners
  Stripe-Follow-Along-Nav/src/handlers/README.md
  Stripe-Follow-Along-Nav/src/handlers/enter.js
  Stripe-Follow-Along-Nav/src/handlers/leave.js
  Stripe-Follow-Along-Nav/src/listeners/README.md
  Stripe-Follow-Along-Nav/src/listeners/enter-lis.js
  Stripe-Follow-Along-Nav/src/listeners/leave-lis.js
Labels: Stripe Follow Along Nav, listeners

#12 add handlers to handlers branch
  Stripe-Follow-Along-Nav/src/handlers/README.md
  Stripe-Follow-Along-Nav/src/handlers/enter.js
  Stripe-Follow-Along-Nav/src/handlers/leave.js
Labels: Stripe Follow Along Nav, handlers

#11 index and style added to Stripe-Follow-Along-Nav
  Stripe-Follow-Along-Nav/index.html
  Stripe-Follow-Along-Nav/public/css/style.css
  Stripe-Follow-Along-Nav/src/data.js
  Stripe-Follow-Along-Nav/src/handlers/README.md
  Stripe-Follow-Along-Nav/src/handlers/enter.js
  Stripe-Follow-Along-Nav/src/handlers/leave.js
  Stripe-Follow-Along-Nav/src/init.js
  Stripe-Follow-Along-Nav/src/listeners/README.md
  Stripe-Follow-Along-Nav/src/listeners/enter-lis.js
  Stripe-Follow-Along-Nav/src/listeners/leave-lis.js
Labels: Stripe Follow Along Nav, home

#18 Video player handlers
  Custom-Video-Player/index.html
  Custom-Video-Player/src/data.js
  Custom-Video-Player/src/handlers/README.md
  Custom-Video-Player/src/handlers/handleProgress.js
  Custom-Video-Player/src/handlers/handleRangeUpdate.js
  Custom-Video-Player/src/handlers/scrub.js
  Custom-Video-Player/src/handlers/skip.js
  Custom-Video-Player/src/handlers/togglePlay.js
  Custom-Video-Player/src/handlers/updateButton.js
  Custom-Video-Player/src/init.js
  Custom-Video-Player/src/listeners/README.md
  Custom-Video-Player/src/listeners/change.js
  Custom-Video-Player/src/listeners/click.js
  Custom-Video-Player/src/listeners/mouseDown.js
  Custom-Video-Player/src/listeners/mouseMove.js
  Custom-Video-Player/src/listeners/mouseUp.js
  Custom-Video-Player/src/listeners/pause.js
  Custom-Video-Player/src/listeners/play.js
  Custom-Video-Player/src/listeners/timeUpdate.js
Labels: handlers

#16 adding HTML for the video player
  Custom-Video-Player/index.html
Labels: enhancement

#30 added speechsynthesis files
  DOCS.md
  speech-synthesis practice/.vscode/settings.json
  speech-synthesis practice/index.html
  speech-synthesis practice/src/handlers/populateVoice.js
  speech-synthesis practice/src/handlers/setOption.js
  speech-synthesis practice/src/handlers/setVoice.js
  speech-synthesis practice/src/handlers/toggle.js
  speech-synthesis practice/src/init.js
  speech-synthesis practice/src/listeners/Option.js
  speech-synthesis practice/src/listeners/speakButton.js
  speech-synthesis practice/src/listeners/speechSynthesis.js
  speech-synthesis practice/src/listeners/stopButton.js
  speech-synthesis practice/src/listeners/voicesdropdown.js
  speech-synthesis practice/style.css
Labels: enhancement
